<!-- Splash screen for account/user routes while auth is loading -->
<div class="splash-screen" *ngIf="!appService.isAuthReady && isAccountRoute">
  <div class="splash-content">
    <img class="splash-logo" src="/assets/ccLogoDark.png" alt="Compliancechimp" />
    <div class="splash-loader">
      <div class="splash-dot"></div>
      <div class="splash-dot"></div>
      <div class="splash-dot"></div>
    </div>
  </div>
</div>

<mat-sidenav-container [class.hidden]="!appService.isAuthReady && isAccountRoute">
  <mat-sidenav
    mode="over"
    #sidenav
    id="sidenav"
    position="end"
    [(opened)]="open"
  >
    <mat-toolbar class="toolbar sidenav-toolbar">
      <img
        src="/assets/complianceChimpLogoLight.png"
        class="title"
        (click)="navRoute('home')"
        alt="Compliancechimp"
      />
      <div class="flex"></div>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon style="color:#ffffff">close</mat-icon>
      </button>
    </mat-toolbar>
    <div class="sidenav-content">
      <div class="sidenav-challenge" (click)="navRoute('get-started')">
        <div class="challenge-pill-text">
          <span class="challenge-pill-headline">Get compliant in 6 minutes</span>
          <span class="challenge-pill-sub">Beat the clock, get 2 months free</span>
        </div>
        <button mat-flat-button class="challenge-pill-btn">
          Accept
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <nav class="sidenav-nav">
        <a
          class="sidenav-link"
          (click)="navRoute('how-it-works')"
          routerLinkActive="sidenav-link-active"
        >
          <mat-icon class="sidenav-link-icon">play_circle_outline</mat-icon>
          <span>How it Works</span>
        </a>

        <a
          class="sidenav-link"
          (click)="navRoute('common-questions')"
          routerLinkActive="sidenav-link-active"
        >
          <mat-icon class="sidenav-link-icon">help_outline</mat-icon>
          <span>Common Questions</span>
        </a>

        <a
          class="sidenav-link"
          (click)="navRoute('blog')"
          routerLinkActive="sidenav-link-active"
        >
          <mat-icon class="sidenav-link-icon">article</mat-icon>
          <span>Blog</span>
        </a>

        <a
          class="sidenav-link"
          (click)="trySignIn()"
        >
          <mat-icon class="sidenav-link-icon">login</mat-icon>
          <span>Sign in</span>
        </a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar"
      *ngIf="
        !router.isActive('/account', false) &&
        !router.isActive('/user', false) &&
        !router.isActive('/get-started', false)
      "
      [class.shadow]="appService.toolbarShadow"
    >
      <img
        src="/assets/complianceChimpLogoLight.png"
        class="title"
        routerLink="home"
        alt="Compliancechimp"
      />
      <div style="width: 50px"></div>
      <div class="flex"></div>
      <div class="desktop">
        <button
          mat-button
          class="link"
          routerLink="how-it-works"
          routerLinkActive="tactive"
        >
          How it Works
        </button>


        <button
          mat-button
          class="link"
          routerLink="common-questions"
          routerLinkActive="tactive"
        >
          Common Questions
        </button>

        <button
          mat-button
          class="link"
          routerLink="blog"
          routerLinkActive="tactive"
        >
          Blog
        </button>
        <button mat-button class="link" (click)="trySignIn()">Sign in</button>
        <button
          mat-flat-button
          class="cta-btn"
          (click)="routeSignUp()"
        >
          Get Started for Free
        </button>
      </div>
      <div class="mobile">
        <button mat-icon-button (click)="open = true">
          <mat-icon style="color:#ffffff">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    
    <!-- Simplified toolbar for get-started flow -->
    <mat-toolbar
      class="toolbar"
      *ngIf="router.isActive('/get-started', false)"
    >
      <img
        src="/assets/complianceChimpLogoLight.png"
        class="title"
        routerLink="/home"
        alt="Compliancechimp"
      />
      <div class="flex"></div>
    </mat-toolbar>
    
    <div id="spacer"></div>
    <div class="hwindow" id="scroll">
      <router-outlet></router-outlet>
      <footer
        id="footer"
        *ngIf="
          !router.isActive('/account', false) &&
          !router.isActive('/user', false) &&
          !router.isActive('/get-started', false)
        "
      ></footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="loading" *ngIf="appService.firstTimeUser">
  <img id="loading-chimp" src="/assets/chimp.png" />
  <div id="loading-text">Hold tight while we finish setting things up.</div>
  <mat-progress-bar id="loading-bar" mode="indeterminate"></mat-progress-bar>
</div>
