.full {
  height: calc(100vh - 52px);
  background-color: var(--mat-sys-surface);
  display: flex;
}

.side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.content-side {
  flex: 2;
}

.collection-field {
  width: 300px;
}

.list {
  height: 100%;
  overflow: auto;
}

.list-actions {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.list-item {
  font-size: 14px;
  cursor: pointer;
  margin: 4px 0;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.2s;
}

.list-item:hover {
  background-color: var(--mat-sys-surface-container);
}

.list-item.active {
  background-color: var(--mat-sys-secondary-container);
}

.toolbar-label {
  margin-right: 12px;
}

.toolbar-field {
  flex: 1;
  margin-right: 24px;
}

.toolbar-order {
  width: 80px;
}

.scroll {
  padding: 12px 0;
  box-sizing: border-box;
  overflow: auto;
  flex: 1;
}

.questions-list {
  width: 100%;
}

.question-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fill {
  flex: 1;
}