#skinny {
  max-width: 900px;
  margin: 24px auto;
  text-align: center;
  padding: 0 8px;
  box-sizing: border-box;
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 21px;
    margin-bottom: 24px;
  }
  .files {
    .file {
      height: 64px;
      display: flex;
      align-items: center;
      margin: 8px 0;
      .name {
        font-size: 16px;
      }
      img {
        height: 64px;
        width: 64px;
        object-fit: contain;
        border-radius: 4px;
        overflow: hidden;
      }
    }
  }
}
.center {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  img {
    height:275px; 
    margin: 18% auto 0;
  }
}
