#billing {
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    max-width: 750px;
    margin: auto;
}

.free {
    font-size: 15px;
    opacity: .87;
    text-align: justify;
    margin-bottom: 48px;
}
  
.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.1);
    margin: 12px;
    padding: 24px;
}
  
.f-image {
    height: 60px;
    width: 100px;
}
  
#f-img {
    height: 100%;
}
  
.s-row {
    display: flex;
    align-items: center;
}
  
.stripe-text {
    font-weight: 600;
    font-size: 15px;
    opacity: .54;
}
  
.bh-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 8px 0;
}
  
#bh-title {
  opacity: .87;
  font-size: 17px;
}
  
#no-bh {
  margin: 100px 0;
  display: flex;
  align-items: center;
  font-size: 21px;
  opacity: .54;
}
  
.spin {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
  
@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}
  
@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}