#settings {
  width: 100%;
  background: var(--chimp-gray-100);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  box-sizing: border-box;
}

#settings mat-icon {
  height: 42px;
  width: 42px;
  font-size: 42px;
  color: var(--chimp-primary);
  margin: 12px 24px;
}

#settings mat-slide-toggle span {
  font-weight: bold;
}

#settings button {
  font-weight: bold;
  margin-left: auto;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}

#chat-bubbles {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.date {
  color: var(--chimp-text-hint);
  margin: auto;
  margin-top: 24px;
  font-size: 14px;
}

.chat-line {
  display: flex;
  margin: 4px 24px;
}

.circle-container {
  position: relative;
  height: 42px;
  width: 42px;
  margin-top: auto;
  font-size: 24px;
}

.circle-container .circle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: var(--chimp-amber-light);
  opacity: 0.2;
}

.circle-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.user {
  margin: 8px auto 8px 16px;
  color: var(--chimp-accent-dark);
  font-size: 14px;
}

.bubble {
  padding: 12px 16px;
  border-radius: 20px;
  max-width: 50vw;
  background: var(--chimp-gray-100);
  color: var(--chimp-text-primary);
  white-space: pre-line;
}

.bi {
  height: 80px;
}

/* img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
} */

#users-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#users-group button {
  height: 32px;
  border-radius: 16px;
  border: 1px solid var(--chimp-primary);
  color: var(--chimp-primary);
  outline: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 4px;
  cursor: pointer;
  margin-left: 4px;
}

#users-group .circle-container {
  height: 32px;
  width: 32px;
  font-size: 18px;
  margin: 4px;
  cursor: pointer;
}
