mat-toolbar {
  font-size: 15px;
}

.industry-list-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(135deg, #0369a1, #0284c7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
