<mat-dialog-content style="position:relative">
  @for (image of data; track $index) {
    <div class="image" *ngIf="$index == active">
      <img src={{image.imageUrl}} onerror="src = '/assets/lost.png'" alt="Compliancechimp">
    </div>
  }
  <div class="index">@for (image of data; track $index) {
    <div class="dot" [ngClass]="{'active-dot': $index == active}" (click)="active = $index"></div>
  }</div>
    <button mat-icon-button id="back" (click)="slide(-1)"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button id="forward" (click)="slide(1)"><mat-icon>chevron_right</mat-icon></button>
</mat-dialog-content>
