h1 {
  width: 800px;
  max-width: calc(100vw - 16px);
  padding-top: 80px;
  margin: 0 auto 24px;
  text-align: center;
  color: var(--chimp-text-on-primary);
}
.more {
  width: 680px;
  max-width: calc(100vw - 16px);
  margin: 0 auto 24px;
  text-align: center;
  color: var(--chimp-text-on-primary);
  font-size: 20px;
}
.bottom {
  width: 800px;
  max-width: calc(100vw - 16px);
  margin: 48px auto 24px;
  text-align: center;
  opacity: 0.87;
  text-decoration: underline;
  cursor: pointer;
}
.plans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  .middle {
    transform: scale(1.1);
    border-top: 5px solid #2ebd9c;
  }
  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 424px;
    margin: 8px;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    width: 330px;
    background: var(--chimp-bg-primary);
    .badge {
      height: 100px;
      margin-bottom: 12px;
      color: var(--chimp-text-on-primary);
      .b-icon {
        height: 24px;
        background: var(--chimp-gray-500);
        border-radius: 50px;
        padding: 4px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .p-title {
      font-size: 1.75rem;
      font-weight: bold;
    }
    .p-body {
      margin-bottom: 12px;
      color: var(--chimp-text-secondary);
      font-size: 1.1rem;
      line-height: 1.5em;
      padding: 10px 0 0;
      text-align: center;
    }
    .checklist {
      color: var(--chimp-text-secondary);
      margin-bottom: 24px;
    }
    .price {
      font-weight: bold;
      font-size: 17px;
    }
    .p-additional {
      font-size: 14px;
      text-align: center;
    }
    button {
      margin: 24px 0;
      width: 100%;
      background-color: var(--chimp-accent);
    }
    .primary {
      background-color: var(--chimp-primary-dark);
      color: var(--chimp-text-on-primary) !important;
    }
    .terms {
      font-size: 12px;
    }
  }
}

.container {
  max-width: 800px;
  padding: 12px;
  margin: auto;
  align-items: center;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
  margin-top: 48px;
}

.responsive-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.chimp-text {
  max-width: 800px;
  padding: 12px;
  margin: auto;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  color: var(--chimp-text-on-primary);
}

@media screen and (max-width: 785px) {
  h1 {
    font-size: 24px !important;
  }
  .plans {
    flex-direction: column !important;
    .middle {
      transform: scale(1) !important;
    }
    .plan {
      margin: 8px 0;
    }
  }
}
